body {
  background: radial-gradient(
    592px at 48.2% 50%,
    rgba(255, 255, 249, 0.6) 0%,
    rgb(160, 199, 254) 74.6%
  );
  font-family: "PT Mono", monospace;
}
form {
  display: block;
}
main {
  padding: 30px 0;
}
strong {
  color: #38598b;
}
footer {
  border-top: 1px solid #f9f7fe;
  text-align: center;
  padding-top: 15px;
  font-size: 13px;
  color: rgba(39, 33, 66, 0.7);
}
a {
  color: #5585b5;
}
.container {
  background: white;
  max-width: 600px;
  border: 2px solid #005792;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(119, 116, 138, 0.08);
}
.search-imput {
  background-color: #e3f6f5;
  border: none;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  padding: 15px;
  width: 75%;
  border-radius: 25px;
}
.search-button {
  background-color: #5585b5;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 15px;
  line-height: 1;
  font-size: 16px;
}
.current-city {
  font-size: 38px;
  font-weight: 900;
  margin: 0;
}
.today-weather {
  border-top: 1px solid #f9f7fe;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
.current-temperature {
  font-size: 48px;
  font-weight: 900;
}
.details {
  color: rgba(39, 33, 66, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
